/* src/app/components/footer/footer.component.scss */

.footer {
    background-color: #faebd5;
    padding: 20px 0;
    text-align: center;
  
    h4 {
      color: #333;
    }
  
    p {
      color: #555;
    }
  }
  