
<h2 >Our Members </h2>
<div class="membre-container">
    <img src="assets/téléchargement.png" alt="" class="membre-avatar">
    <h2 class="membre-name">John Doe</h2>
    <p class="membre-role">presedent</p>
    <p class="membre-description">
      
    </p>
  </div>
  
  <div class="membre-container">
    <img src="assets/istockphoto-1413399152-612x612.jpg" alt="" class="membre-avatar">
    <h2 class="membre-name">sarah hamouda</h2>
    <p class="membre-role">vice-prisedent</p>
    <p class="membre-description">
      
    </p>
  </div>
  <div class="membre-container">
    <img src="assets/avatar-femme-brune.png" alt="" class="membre-avatar">
    <h2 class="membre-name">meriem LH</h2>
    <p class="membre-role">tresorier</p>
    <p class="membre-description">
      
    </p>
  </div>
  <div class="membre-container">
    <img src="assets/images (1).png" alt="" class="membre-avatar">
    <h2 class="membre-name">Other members</h2>
    <p class="membre-role">Members</p>
    <p class="membre-description">
      
    </p>
  </div>
